
.section {
  text-align: Left; 
  height: 100vh;  
}

h1 {
  font-size: 2em; /* Adjust the font size for section headings */
  margin-bottom: 10px;
}

p {
  font-size: 1.2em; /* Adjust the font size for paragraph text */
  color: #333; /* Set text color */
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #3498db; /* Set button background color */
  color: #fff; /* Set button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition for button hover effect */
}

button:hover {
  background-color: #2980b9; /* Set button background color on hover */
}