/* Container for rows */
.case-setting-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Spacing between rows */
}

/* Rows */
.case-setting-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Add margin between rows */
}

/* Email paragraph */
.case-setting-email {
  color: #333; /* Minimal color */
}

.case-setting-btn {
  width: 200px;
  background-color: #f0f0f0; 
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
}

.case-setting-btn:hover{
    background-color: white;
    border-color: #007bff; 
    color: #000000;
    Font-weight: 600;
}

/* Delete button */
.case-setting-btn-delete {
  width: 200px;
  background-color: #FF0000; 
  color: white; 
}

.case-setting-btn-delete:hover {
  background-color: white;
  border-color: #FF0000; 
  color: #000000;
  Font-weight: 600;
}
